* {
    margin: 0;
    padding: 0;
}


.containers {
    display: flex;
    height: 100%;
}
.container1 {
    background: linear-gradient(#000000, #131111, #090e09, #121b0d, #162e16);
    width: 15%;
}

.container2 {
    background-color: #ececec;
    width: 20%;
}

.container3 {
    background-color: #fff;
    width: 70%;
    height: 100vh;
}

.left-block {
    width: 100%;
    height: 40px;
    margin: 30px auto;
    position: relative;
    box-sizing: border-box;
}

.btn-input {
    margin: auto;
    padding-right: 25px;
    padding-left: 10px;
    width: 90%;
    height: 100%;
    display: block;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #fff;
}

.icon {
    position: absolute; 
    top: 7px;   
    right: 20px;
    color: #fff;
}

.search-input {
    background-color: #2a2a2a;
}

button.btn-input {
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}
.delete-btn {
    background: linear-gradient(#2f2f2f, #494848, rgb(141, 141, 141));
    
}

.add-btn {
    background: linear-gradient(#fff, #348634, #489048);
}

.all-notes {
    height: 100px;
    width: 100%;
    background: linear-gradient( to right, #ffffff, #d8e6d8, #a9daa3,#489048);
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #2a2a2a;
}

#counter {
    position: absolute;
    bottom: 10px;
}

.title {
    width: 100%;
    height: 5%;
    padding-left: 10px;
    font-size: 30px;
    box-sizing: border-box;
    border: none;
}

.note-text {
    width: 100%;
    height: 95%;
    font-size: 20px;
    padding-left: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    border: none;
}

.note-btn {
    height: 100px;
    width: 100%;
    background: linear-gradient(#fff, rgb(238, 235, 235));
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #2a2a2a; 
}

.note {
    height: 100px;
    width: 100%;
    background: linear-gradient(#fff, rgb(238, 235, 235));
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #2a2a2a;
    border-top: none;    
}

.select-btn {
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width: 5%;
    background: linear-gradient(#fff, #93cc93, #489048);
    border: none;
}

.selected {
    border: 2px solid green;
    background: linear-gradient( #93cc93, #489048);
}

#header  {
    font-weight: lighter;
    font-size: 30px;
}

.date {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.title-name {
    font-weight: bold;
    font-size: larger;
}

